APP_NAME=lotoledger
export DB_NAME=${APP_NAME}

export PORT=
export SECRET_KEY=

APP_LOTO_ADMIN_PASSWORD=
APP_LOTO_USER_PASSWORD=
export APP_LOTO_ADMIN_PASSWORD APP_LOTO_USER_PASSWORD

DATABASE_URL_OWNER=
DATABASE_URL_ADMIN=
DATABASE_URL_USER=
export DATABASE_URL_OWNER DATABASE_URL_ADMIN DATABASE_URL_USER
